{% extends "layout.html" %} {% block content %}
<div>
  <a href="{{ url_for('new_pot') }}" type="button" class="btn btn-lg sync-btn mt-5"><i
      class="fa-solid fa-glass-water-droplet"></i> Add Pot</a></i>
  <a href="{{ url_for('home') }}" type="button" class="btn btn-lg sync-btn mt-5"><i class="fa-solid fa-rotate"></i>
    Sync</a></i>
</div>
<section class="pots-holder">
  <div class="container">
    <div class="row">
      {% if not pots %}
      <p class="mb-12">No pots. Use Add pot to create.</p>
      {% endif %}
      {% for pot in pots.items %}
      <div class="col-md-6">
        <section class="map-cont mobile-card-size plant-card">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mt-4">
                <img src="static/pot_img/{{ pot.pot_image }}" alt=""
                  class="rounded mx-auto d-block map img-fluid plant-img" />
              </div>
              <div class="col-md-6 mt-4">
                <h3><a class="pot-heading" href="{{ url_for('pot', pot_id=pot.id) }}">{{ pot.name }} </a></h3>
                <p>{{ pot.status }}</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% endfor %}
      {% for page_num in pots.iter_pages() %}
      {% if page_num %}
    </div>
  </div>

  <div>
    {% if pots.page == page_num %}
    <a class="btn btn-sm mt-4 mr-1 act-pag-btn" href="{{ url_for('home', page=page_num) }}">{{
      page_num }}</a>
    {% else %}
    <a class="btn btn-sm mt-4 mr-1 pag-btn" href="{{ url_for('home', page=page_num) }}">{{
      page_num }}</a>
    {% endif %}
  </div>
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</section>
{% endblock content %}