{% extends "layout.html" %} {% block content %}
<div class="content-section mt-5">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ title }}</legend>
      <div class="form-group">
        {{ form.search.label(class="form-control-label") }} {% if
        form.search.errors %} {{ form.search(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.search.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.search(class="form-control form-control-lg") }} {%
        endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info submit-btn") }}
    </div>
  </form>
</div>

{% if show_plant %}
<section class="map-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-6 styled-table">
        <div class="styled-table">{% include "plant_table.html" %}</div>
      </div>
      <div class="col-md-6">
        <img class="plant-img" src=" {{ plant_img }}" />
      </div>
    </div>
  </div>
</section>
{% endif %} {% endblock content %}
