{% extends "layout.html" %} {% block content %}
<div>
    <a href="{{ url_for('update_pot', pot_id=pot.id) }}" type="button"
        class="btn btn-outline-secondary btn-lg sync-btn mt-5"><i class="fa-solid fa-pen"></i> Edit</a></i>
    <button type="button" class="btn btn-lg del-btn btn-danger mt-5" data-toggle="modal" data-target="#deleteModal"><i
            class="fa-solid fa-trash"></i> Delete</button></i>
</div>
<img src="static/pot_img/{{ pot.pot_image }}" alt="" class="" />
<section class="map-cont">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="pot-heading mt-4 mb-4">{{ pot.name }} </h3>
                <!-- Tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">PyP Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="plant-tab" data-toggle="tab" href="#plant" role="tab"
                            aria-controls="plant" aria-selected="false">Plant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="weather-tab" data-toggle="tab" href="#weather" role="tab"
                            aria-controls="weather" aria-selected="false">Weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pollution-tab" data-toggle="tab" href="#pollution" role="tab"
                            aria-controls="pollution" aria-selected="false">Pollution</a>
                    </li>
                </ul>
                <!-- Tabs content -->
                <div class="tab-content" id="tabs-content">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home">
                        <img src="{{ icon_url }}" alt="weather icon">
                        <p class="mt-4">STATUS: {{ pot.status }}</p>
                        <p class="pot-report">LOCATION: {{ pot.location }}</p>
                    </div>
                    <div class="tab-pane fade" id="plant" role="tabpanel" aria-labelledby="plant">
                        {% if not pot.plant_id %}
                        <p class="">No plants connected. Use form to connect plant or create manual settings.
                        </p>
                        <div class="=mt-4 mb-4">
                            <a class="btn btn-secondary" href="{{ url_for('edit_plant', pot_id=pot.id) }}">Manually add plant</a>
                            <a class="btn btn-secondary" href="{{ url_for('connect_plant_db', pot_id=pot.id) }}">Connect from db</a>
                        </div>
                        {% else %}
                        <div class="=mt-4 mb-4">
                            <a class="btn btn-secondary" href="{{ url_for('update_plant', pot_id=pot.id) }}">Edit plant</a>
                        </div>
                        <h6 class="mt-5 hello-plant">{{ plant.name.capitalize() }}</h6>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="plant-table">min temp.:</td>
                                    <td>&emsp;{{ plant.temp_min }}&#8451;</td>
                                </tr>
                                <tr>
                                    <td class="plant-table">MAX temp.:</td>
                                    <td>&emsp;{{ plant.temp_max }}&#8451;</td>
                                </tr>
                                <tr>
                                    <td class="plant-table">Light level:</td>
                                    <td>&emsp;{{ light_level.capitalize() }}</td>
                                </tr>
                                <tr>
                                    <td class="plant-table">Water level:</td>
                                    <td>&emsp;{{ water_level.capitalize() }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- DivTable.com -->
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather">
                        {% include "weather.html" %}
                    </div>
                    <div class="tab-pane fade" id="pollution" role="tabpanel" aria-labelledby="pollution">
                        {% include "pollution.html" %}
                    </div>
                </div>
                <!-- Tabs content end -->
            </div>
            <div class="col-md-6">
                <img class="plant-img"" src=" {{ url_for('static', filename='pot_img/' + pot.pot_image) }}" />
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete '{{ pot.name }}' Pot?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_pot', pot_id=pot.id )}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}