body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6b9080;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #f6fff8;
}

.container-fluid {
  padding: 3% 10%;
}

.sync-btn,
.submit-btn {
  color: #a3c3b2;
  border-color: #a3c3b2;
}

.sync-btn,
.del-btn {
  margin-top: -3%;
  margin-bottom: 3%;
  position: relative;
  left: 80%;
}

.sync-btn:hover,
.submit-btn:hover {
  background-color: #a3c3b2;
  color: #f6fff8;
  border-color: #f6fff8;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  color: #6b9080;
  margin-bottom: 5%;
}

.navbar {
  background-color: #6b9080;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-size: 1rem;
  color: #a3c3b2;
}

.plant-img {
  clip-path: polygon(5% 5%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  width: 100%;
  max-width: 250px;
}

.plant-card {
  background-color: #a3c3b2;
  border-style: solid;
  border-radius: 40px;
  border-color: #6b9080;
  border-width: 4px;
  margin-bottom: 3%;
}

.plus-plant {
  font-size: 10rem;
  color: #6b9080;
}

.pot-heading {
  color: #6b9080;
  text-align: left;
}

.pot-heading:hover {
  text-decoration: none;
  color: #333333;
}
